@using System.Net.Http;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerando imagens ...</h1>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var httpClient = new HttpClient();
    var url = "https://localhost:44321" + Url.Action("SendData", "Usuario");
    var tasks = new List<Task>();
    var random = new Random();
    List<string> sinal = new List<string>
        {
            "G-2",
            "G-1",
            "A-60x60-1",
            "g-30x30-1",
            "g-30x30-2",
            "A-30x30-1"
        };

    List<string> algoritimo = new List<string>
        {
            "CGNE",
            "CGNR"
        };

    for (int i = 0; i < 10; i++)
    {
        int indiceAleatorioSinal = random.Next(sinal.Count);
        int indiceAleatorioAlg = random.Next(algoritimo.Count);

        var data = new
        {
            G = sinal[indiceAleatorioSinal],
            Agoritimo = algoritimo[indiceAleatorioAlg]
        };

        var conteudo = new StringContent(JsonConvert.SerializeObject(data), Encoding.UTF8, "application/json");

        // Envie a requisição POST para o endpoint
        tasks.Add(httpClient.PostAsync(url, conteudo));

        Thread.Sleep(random.Next(60000));
    }
}
