@using System.Net.Http;
@using System.Text;
@using System.Threading;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Hello, world! The time on the server is @DateTime.Now</p>
        <p>Relatórios Gerados</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

@{
    var tasks = new List<Task>();

    for (int i = 0; i < 5; i++)
    {
        List<string> sinal = new List<string>
        {
            "G-1",
            "G-2",
            "A-60x60-1",
            "g-30x30-1",
            "g-30x30-2",
            "A-30x30-1"
        };

        List<string> algoritimo = new List<string>
        {
            "CGNE",
            "CGNR"
        };

        var random = new Random();
        int indiceAleatorioSinal = random.Next(sinal.Count);
        int indiceAleatorioAlg = random.Next(algoritimo.Count);

        var data = new
        {
            G = sinal[indiceAleatorioSinal],
            Agoritimo = algoritimo[indiceAleatorioAlg]
        };

        // Crie uma instância do HttpClient
        var httpClient = new HttpClient();
        
            //httpClient.Timeout = TimeSpan.FromSeconds(300);
            // Configure a URL do endpoint do controller
            var url = "https://localhost:44321" + Url.Action("SendData", "Usuario");
            var conteudo = new StringContent(JsonConvert.SerializeObject(data), Encoding.UTF8, "application/json");

            //StringContent($"evento={evento}&data={data}", Encoding.UTF8, "application/x-www-form-urlencoded")

            // Envie a requisição POST para o endpoint
            tasks.Add(httpClient.PostAsync(url, conteudo));

        Thread.Sleep(random.Next(10000));
    }
}
